body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: #f8f9fa;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html{
    height: 100%;
}
p,
.col-form-label,
.form-control,
.custom-select {
    line-height: 23px;
    letter-spacing: 0.2px;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
}
a {
    color: #fed136;
}
a:hover {
    color: #fec503;
}
.text-primary {
    color: #fed136!important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
section {
    padding: 100px 0;
}
section h2.section-heading {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 15px;
}
section h3.section-subheading {
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 75px;
    letter-spacing: 1.2px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.section-title p {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin: 20px 100px 60px 100px;
}
.btn {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.btn-login{
    width: 250px;
    padding: 12px;
}
.btn_login a{
    text-decoration: none;
    color: white;
}
.btn-daftar{
    width: 250px;
    padding: 12px;
    color: #22313F;
    background-color: white;
    border: 1px solid #aeaeae;
}
.btn-primary {
    background-color: #fed136;
    border-color: #fed136;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #fec810!important;
    border-color: #fec810!important;
    color: #fff;
}
.btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(254, 209, 55, .5)!important;
}
::-moz-selection {
    background: #fed136;
    text-shadow: none;
}
::selection {
    background: #fed136;
    text-shadow: none;
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
.sec-title h2 {
    color: #fed136;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
}
.center {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
.tabinfo,
.side-tab{
    padding-top: 30px;
}
.tab-content{
    padding-top: 50px;
    padding-bottom: 50px;
}
/*--------------------
    BACKGROUND IMAGE
--------------------*/
.bgScreen{
    /* The image used */
    height: 800px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgLogin{
    /* The image used */
    height: 703px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------
    Reset bootstrap
--------------------*/
.row-0-gutter {
    margin-left: -13px;
    margin-right: -13px;
}
.col-0-gutter {
    padding-left: 0;
    padding-right: 0;
}
.grid-co{
    margin-bottom: 30px;
}

/*--------------------
    PARALLAX
--------------------*/
.parallax { 
    /* The image used */

/* Set a specific height */
height: 500px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding: 80px 0 70px 0;
}

/*--------------------
    LOGIN AND AUTH
--------------------*/
.login{
    height:400px;
}

/* .login h2, .login h6{
    color: white;
} */

.authform{
    background-color: rgba(0, 0, 0, 0.083);
    padding: 5% 10%;
    border-radius: 10px;
}

/*--------------------
    MAP, LAT & LNG
--------------------*/
#map-canvas{
    margin: 10px 0;
    height: 250px;
    width: 100%;;
}

.hiddenForm{
    display: none;
}

/*--------------------
    PHOTO PROFILE, LOGO, ETC
--------------------*/
.photo-profile, .btn-daftar, .marginBottom, .harga, .detail{
    margin-bottom: 20px;
}
.photo-profile img{
    width:250px;
    height: 250px;
}
.logo_dashboard{
    width: 250px;
    height: 250px;
    display: block;
    margin: 30px auto;
    background: transparent;
}

/*--------------------
        NAVBAR
--------------------*/
#mainNav {
    background-color: #212529;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #fed136;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #fec503
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136
}
/*--------------------
    HEADER
--------------------*/
#header {
    background-attachment: fixed;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
    color: #fff;
}

.header-wrapper .header-overlay {
    min-height: 100vh;
    /*min-width: 100vw;*/
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}   

.header-wrapper .header-wrapper-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.header-wrapper .header-wrapper-inner .welcome-speech {
    margin-top: 7em;
}

.header-wrapper .header-wrapper-inner .welcome-speech h1 {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header-wrapper .header-wrapper-inner .welcome-speech p {
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.header-wrapper .header-wrapper-inner .welcome-speech h5 {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#search-header {
    background-attachment: fixed;
    background-size: cover;
    display: table;
    height: 30%;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
    color: #fff;
    background-color:#212529;
    padding-bottom: 40px;
}
#coworking-header {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: table;
    height: 50%;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;
    color: #fff;
}

/*--------------------
    TIMELINE
--------------------*/
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}
.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef;
}
.timeline>li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}
.timeline>li:after, .timeline>li:before {
    display: table;
    content: ' '
}
.timeline>li:after {
    clear: both;
}
.timeline>li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline>li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: #fff;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #fed136;
}
.timeline>li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 7px;
}
.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}
.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}
.timeline>li:last-child {
    margin-bottom: 0;
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}
.timeline .timeline-heading h4.subheading {
    text-transform: none;
}
.timeline .timeline-body>p, .timeline .timeline-body>ul {
    margin-bottom: 0;
}

/*--------------------
    PORTFOLIO
--------------------*/
figure {
    position: relative;
    overflow: hidden;
    margin: 0 1px 1px 0;
    background: #726FB9;
    text-align: center;
    cursor: pointer;	
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;	
    overflow: hidden;
}

.ot-portfolio-item figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-bubba {
    background: #f8f9fa;
    margin-bottom: 10px;
}

figure.effect-bubba img {
    /* opacity: 0.95; */
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    width:100%;
    height: 230px;
}

figure.effect-bubba:hover img {
    opacity: 0.3;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 25px;
    bottom: 30px;
    left: 25px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #22313F;
    border-bottom: 1px solid #22313F;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #22313F;
    border-left: 1px solid #22313F;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

figure.effect-bubba h2 {
    opacity: 0;
    color: #22313F;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 30%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
    color: #22313F;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/*--------------------
    Harga Coworking
--------------------*/
.tab{
    margin-top: 10px;
}
.tab .nav-tabs{
    border-bottom: none;
    position: relative;
    margin-top: 20px;
}
.tab .nav-tabs li{
    margin-right: 15px;
}
.tab .nav-tabs li a{
    padding: 20px 15px;
    font-size: 20px;
    font-weight: 600;
    color: #fed136;
    border-radius: 0;
    text-transform: uppercase;
    margin-right: 0;
    border: none;
    position: relative;
    transition: all 0.5s ease 0s;
}
.tab .nav-tabs li a:hover{
    background: #fff;
}
.tab .nav-tabs li a:before{
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 5px;
    left: 0;
    transform: scale(0);
    transition: all 700ms ease 0s;
}
.tab .nav-tabs li a:after{
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fed136;
    margin: 0 auto;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    transform: scale(0);
    transition: all 700ms ease 0s;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
    border: none;
    color: #fed136;
}
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:after,
.tab .nav-tabs li.active a:after{
    transform: scale(1);
}
.tab .tab-content{
    margin-top: 20px;
    padding: 20px;
    line-height: 26px;
    background: wheat;
}
.tab .tab-content h3{
    margin-top: 0;
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{ width: 100%; }
    .tab .nav-tabs li a{ text-align: center; }
}

/*--------------------
    Modal
--------------------*/
.modal-content {
    border-radius: 0;	
}
.modal-header .close {
    font-size: 30px;	
}
.modal-title {	
    text-transform: uppercase;
    font-size: 23px;
}

.modal-body {
    padding: 0;
}

.modal-body p {
    margin: 30px 20px;
    color: #2D2D2D;		
    word-wrap: break-word;
}

.modal-works {
font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    margin: 25px 20px;
    word-wrap: break-word;
}

.modal-works span {
    background-color: #212529;
    margin-right: 15px;
    padding: 5px 10px;
}

/*--------------------
    Data Coworking
--------------------*/
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 30px 10px 30px;
    overflow: hidden;
    position: relative;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 0;
    position: relative;
}
#accordion .panel-title a{
    display: block;
    padding: 15px 20px;
    margin: 0;
    background: #fec503;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 0;
    position: relative;
}
#accordion .panel-title a.collapsed{ background: #1c2336;}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f068";
    font-family: fontawesome;
    width: 30px;
    height: 30px;
    line-height: 25px;
    border-radius: 50%;
    background: #fe7725;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    border: 3px solid #fff;
    position: absolute;
    top: 10px;
    right: 14px;
}
#accordion .panel-title a.collapsed:before{
    content: "\f067";
    background: #ababab;
    border: 4px solid #626262;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
    content: "";
    width: 17px;
    height: 7px;
    background: #fff;
    position: absolute;
    top: 22px;
    right: 0;
}
#accordion .panel-title a.collapsed:after{
    width: 19px;
    background: #ababab;
}
#accordion .panel-body{
    border-left: 3px solid #fec503;
    border-top: none;
    background: #fff;
    font-size: 15px;
    color: #1c2336;
    line-height: 27px;
    padding: 15px;
    position: relative;
}
#accordion .panel-body:before{
    content: "";
    height: 3px;
    width: 50%;
    background: #fec503;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*--------------------
    COUNTER
--------------------*/
#facts {
    background-image: url(../assets/whoami.jpg);
    background-color: rgba(6,32,51,.8);
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.facts .devider:before,
.facts .devider:after {
    color: #737C85;
}

.facts .devider i {
    color: #fff;
}

.parallax-overlay {
    background-color: rgba(6,32,51,.8);
    padding: 30px 0;
}

.counters-item {
color: #fff;
}

.counters-item i {
border: 1px solid #737C85;
border-radius: 50%;
color: #fff;
display: inline-block;
height: 120px;
margin: 0 0 35px;
padding: 40px 0 0;
width: 120px;
}

.counters-item strong {
display: block;
font-size: 60px;
font-weight: 600;
line-height: 60px;
}

.counters-item p {
font-size: 18px;
line-height: 24px;
margin-top: 15px;
text-transform: uppercase;
}

/*--------------------
    List
--------------------*/
#team{
    padding: 30px 0;
}

.team-item {
    text-align: center;
    background-color: #fff;
    padding-bottom: 10px;
}

.team-item h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.team-item img{
    width: 100%;
    height: 250px;
}

.team-item .team-location {
    color: #C5C5C5;
    font-size: 16px;
    margin-bottom: 20px;    
}

.team-item .team-location {
    color: #C5C5C5;
    font-size: 12px;
    margin-bottom: 20px;    
}

.team-item .team-position {
    color: #000;
    font-size: 12px;
}

.btn-more{
    margin: 30px auto;
    display: block;
}

/*============================================================
    For Full Desktop
==============================================================*/
@media only screen and (max-device-width: 1366px) {
    .parallax {
    background-attachment: scroll;
    }
}

/*============================================================
    For Medium Desktop
==============================================================*/
@media (min-width: 1200px){
    .timeline > li {
        min-height: 170px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline > li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

/*============================================================
    For Small Desktop
==============================================================*/

@media (min-width:992px) {
    #mainNav {
        padding-top: 10px;
        padding-bottom: 10px;
        -webkit-transition: padding-top .3s, padding-bottom .3s;
        -moz-transition: padding-top .3s, padding-bottom .3s;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: #21252983;
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em!important
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #212529
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0
    }

    .timeline > li {
    min-height: 150px;
    }
    .timeline > li .timeline-panel {
    padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
    }
    .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
    }
.logo_dashboard{
    max-width:100%;
    height: 200px;
    display: block;
    margin: 30px auto;
    background: transparent;
}
#facts {
    background-position: center top !important;
    }
    .counters-item {
    margin-bottom: 30px;
    }
    
    .counters-item i {
    margin: 0 0 15px;
    }
    
    .counters-item strong {
    font-size: 45px;
    }
}

/*============================================================
    Tablet (Portrait) Design for a width of 768px
==============================================================*/

@media (min-width: 768px){
    /*--------------------
        SECTION AND HEADER
    --------------------*/
    section {
        padding: 150px 0;
    }
    header.masthead .intro-desc{
        width: 25%;
    }
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 60px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    /*--------------------
        LOGO
    --------------------*/
    .logo_dashboard{
        padding: 0px 25px 0px 25px;
        width: 100%;
        height: 100%;
    }

    /*--------------------
        TIMELINE
    --------------------*/
    .timeline:before {
    left: 50%;
    }
    .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
    }
    .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
    }
    .parallax {
        padding: 110px 0 0 0;
    }

    /*--------------------
        BACKGROUND IMAGE
    --------------------*/
    .bgScreen{
        /* The image used */

        max-height: 100%;
        max-width: 100%;
        
        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bgLogin{
        /* The image used */
        height: 725px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #facts {
    background-position: center top !important;
    }
    
    .counters-item {
        margin-bottom: 30px;
    }
}